body {
    margin: 0;
}

.topbar {
    height: 80px;
    width: 100%;
    background-color: navy;
    margin: 0;
}

.title {
    height: auto;
    color: white;
    font-size: 60px;
    margin: auto auto auto 10px;
}

.content-wrap {
    margin: auto;
    width: 60%;
}

.card-inputs {
    width: 100%;
    margin: 10px auto 10px auto;
}

.card-inputs label {
    font-size: 25px;
}

.card-inputs input {
    width: 100%;
    height: 40px;
    background-color: rgb(240, 240, 240);
    border: none;
}